@model TireLireEshop.Produits

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Produits</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PkIdProduit" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hauteur" class="control-label"></label>
                <input asp-for="Hauteur" class="form-control" />
                <span asp-validation-for="Hauteur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Largeur" class="control-label"></label>
                <input asp-for="Largeur" class="form-control" />
                <span asp-validation-for="Largeur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longueur" class="control-label"></label>
                <input asp-for="Longueur" class="form-control" />
                <span asp-validation-for="Longueur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poids" class="control-label"></label>
                <input asp-for="Poids" class="form-control" />
                <span asp-validation-for="Poids" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapacitéEnNombreDePiece" class="control-label"></label>
                <input asp-for="CapacitéEnNombreDePiece" class="form-control" />
                <span asp-validation-for="CapacitéEnNombreDePiece" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFabricant" class="control-label"></label>
                <select asp-for="IdFabricant" class="form-control" asp-items="ViewBag.fabricant"></select>
                <span asp-validation-for="IdFabricant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCouleur" class="control-label"></label>
                <select asp-for="IdCouleur" class="form-control" asp-items="ViewBag.couleur"></select>
                <span asp-validation-for="IdCouleur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionParLeFabricant" class="control-label"></label>
                <input asp-for="DescriptionParLeFabricant" class="form-control" />
                <span asp-validation-for="DescriptionParLeFabricant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdImage" class="control-label"></label>
                <input asp-for="IdImage" class="form-control" />
                <span asp-validation-for="IdImage" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="StatutDActivtion" /> @Html.DisplayNameFor(model => model.StatutDActivtion)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
